/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Styles for the header and navigation */
  header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
  }
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  nav li {
    margin: 0 0.5rem;
  }
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Styles for the main content */
  body {
    min-height: 100vh; /* 画面の高さいっぱいにする */
    display: flex;
    flex-direction: column; /* 縦方向に要素を並べる */
  }
  
  main {
    flex: 1; /* mainを残りのスペースに伸ばす */
    padding: 2rem;
    text-align: center;
  }
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .portfoio {
    font-size: 1rem;
  }

  .project-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
  }
  
  .project {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 40px;
    text-align: center;
  }

  .img {
    width: 300px;
    height: 200px;
  }
  
  @media screen and (max-width: 768px) {
    .project {
      flex-basis: calc(50% - 20px);
    }
  }
  
  .about-image{
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0px 0px 5px #999;
    width: 300px;
    height: auto;
  }
.contact-h3 {
    padding: 1rem;
}

  /* Styles for the footer */
  footer {
    bottom: 0; /* 画面の下に固定する */
    width: 100%;
    background-color: #ddd;
    padding: 1rem;
    text-align: center;
  }

  .copyright{
    font-size: 1rem;
  }

  .sns-logo {
    width: 50px;
    height: auto;
  }
  